.DS_Store
DE/
Plots/
.Rproj.user/
05bigwig/
05counts/
06fastqc_raw/
06fastqc_trim/
07multiqc/
.snakemake/
GSE80548_series_matrix.txt
README_cmd
README_cmds
acc_list.txt
benchmarks/
data/
fetch_seqs_from_ncbi
results/
slurm_logs/
Snakefile
